.principal {
    display: flex;
    height: 100%;
    position: fixed;
    width: 100%;
    background-image: url(/img/wallpapertip_new-york-wallpaper_50885.jpg);
    background-size: cover;
}

.contenedor {
    border-style: solid;
    border-radius: 25px;
    margin: auto;
    background-color: rgb(0 0 0 / 65%);
}

.formulario {
    padding: 30px;
    color: #adb5bd;
}

.btn_verde, .btn_verde:active, .btn_verde:visited, .btn_verde:focus {
    background-color: #198754;
    border-color: #198754;
    opacity: 1;
    box-shadow: none;
}
.btn_verde:hover {
    background-color: #198754;
    border-color: #198754;
    opacity: 0.8;
}

.form-control{
    border-style: solid;
    border-color: #212529;
    border-width: 2px;
}